<footer>
    <div class="footer-info">
        <div class="footer-social">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="footer-company">&copy; StayNook Private Limited</div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>