<% layout("/layouts/boiler.ejs") %>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a new post</h3>
            <form action="/listings" method="POST" novalidate class=" needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="" placeholder="Enter catchy title" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="discription" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" placeholder="Enter description" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please Enter a small description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" id="" required class="form-control">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="listing[price]" id="" placeholder="1,200" class="form-control" required>
                    <div class="invalid-feedback">
                        Please Enter a valid price
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" id="" placeholder="Pune, Goa" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please Enter a valid location
                        </div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" placeholder="India" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please Enter a valid country
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark">Add</button>
                <br><br>
            </form>
        </div>
    </div>