<% layout("/layouts/boiler.ejs") %>
    <div class="row row-cols-lg-3 row-cols-lg-2 row-cols-lg-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id%>" class="listingLink">
                <div class="card listing-card">
                    <img src="<%= listing.image.url%>" class="card-img-top" style="height: 20rem;"
                        alt="listing_image" />
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b> <br>
                            <span class="price">
                                <%= listing.price.toLocaleString("en-IN") %>
                            </span> / night
                            <i class="taxInfo">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <%}%>
    </div>
    <a href="/listings"><button class="btn btn-dark mb-3 offset-5">Back</button></a>